@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleta de la Fortuna Digital: Donde el futuro se vuelve delicioso.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/cookieStyle.css"/>
    <script src="~/js/cookieColors.js"></script>
    <script src="~/js/GalletaFortuna.js"></script>
</head>
<body>
    <div id="title-container">
        <h1 id="title-text">Galleta de la Fortuna : Donde el futuro se vuelve delicioso.</h1>
    </div>

    <div id="fortune-cookie">
        <div id="cookie-design"></div>
        <i class="fas fa-cookie-bite" style="font-size: 40px; color: #6B4E37;"></i>
        <h2 id="fortune-text">¡Presiona para abrir la galleta de la fortuna!</h2>
    </div>
  
</body>
</html>


}
